<hr>
{{#posts}}
    <div class="status-post">
        <h3 class="status-post-title">{{statusIcon status}}{{title}}</h3>
        <p class="status-post-info">Posted by {{user}} {{formatPostDate created}} | <a class="inline-category-link" data-categoryid="{{category.pk}}">{{category.name}}</a></p>
        <p>{{message}}</p>
        <div class="comments-wrapper">
            <a class="comments-show-link" data-postid="{{pk}}">Show Comments</a>
            <div class="comments-spinner spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="comments">
                <div class="comments-inner"></div>
                <div class="post-comment">
                    <div class="comments-textarea-spinner spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <textarea class="form-control" placeholder="Write a comment"></textarea>
                    <input type="button" value="Post" class="btn btn-primary post-comment-btn" data-postid="{{pk}}">
                </div>
            </div>
        </div>
    </div>
    <hr>
{{/posts}}