<div id="status-posts"></div>
<div id="categories">
    <h4 id="categories-title">Categories</h4>
    <ul id="categories-list">
        <li><a href="#" class="active"> {{statusIcon 2 small=true}}All</a>
            <ul>
                <li><a href="#">{{statusIcon 1 small=true}} Thor</a>
                    <ul>
                        <li><a href="#">{{statusIcon 1 small=true}} Apache</a></li>
                        <li><a href="#">{{statusIcon 1 small=true}} Teamspeak</a></li>
                        <li><a href="#">{{statusIcon 1 small=true}} Mumble</a></li>
                        <li><a href="#">{{statusIcon 2 small=true}} Shares</a></li>
                        <ul>
                            <li><a href="#">{{statusIcon 1 small=true}} Samba</a></li>
                            <li><a href="#">{{statusIcon 1 small=true}} NFS</a></li>
                            <li><a href="#">{{statusIcon 1 small=true}} AFP</a></li>
                            <li><a href="#">{{statusIcon 1 small=true}} Public</a></li>
                            <li><a href="#">{{statusIcon 3 small=true}} Media</a></li>
                        </ul>
                    </ul>
                </li>
                <li><a href="#">{{statusIcon 10 small=true}} Ymir</a></li>
            </ul>
        </li>
    </ul>
</div>