<h3>Subscribe for updates</h3></br>
<table class="contact-method-table">
	<tr>
		<td class="contact-method"></td>
		{{#each contactMethods}}
			<td class="contact-method">
				{{#if email}}
					{{email}} <button type="button" class="close remove-contact-method" data-pk="{{pk}}" data-name="{{email}}">×</button>
				{{else}}
					{{#if phoneNumber}}
						{{#if provider}}
							{{phoneNumber}}  ({{provider}}) <button type="button" class="glyphicon glyphicon-remove remove-contact-method" data-pk="{{pk}}" data-name="{{phoneNumber}} ({{provider}}"></button>
						{{/if}}
					{{/if}}
				{{/if}}
			</td>
		{{/each}}
	</tr>
	{{#each categories}}
		<tr>
			<td class="settings-category">{{name}}</td>
			{{#each ../contactMethods}}
				<td class="settings-category-cell"><input type="checkbox" class="settings-category-checkbox" data-contactmethodid="{{pk}}" data-categoryid="{{../pk}}"></td>
			{{/each}}
		</tr>
	{{/each}}
</table></br></br>

<h3>Add a Contact Method</h3></br>

<table class="add-contact-methods-table">
	<tr>
		<td class="add-contact-method-cell">Email</td>
		<td class="add-contact-method-cell">Phone Number</td>
		<td class="add-contact-method-cell">Provider</td>
	</tr>
    <tr>
    	</td><td class="add-contact-method-cell"><input type="text" class="new-contact-method-email"></td>
    	<td class="add-contact-method-cell"><input type="text" class="new-contact-method-phone-number"></td>
	    <td class="add-contact-method-cell"><select class="new-contact-method-provider">
	    	<option value="">Not Applicable</option>
		    {{#each providers}}
		    	<option value="{{pk}}">{{name}}</option>
		    {{/each}}
		</select></td>
    	<td class="add-contact-method-cell"><input type="submit" class="submit-new-contact-method"></td>
    </tr>
</table></br></br>
