<h3>Subscribe for updates</h3></br>
<table class="contact-method-table" style="width: 400px; margin: 0 auto">
	<tr>
		<td class="contact-method"></td>
		{{#each contactMethods}}
			<td class="contact-method">
				{{#if email}}
					{{email}} <button type="button" class="glyphicon glyphicon-remove remove-contact-method" data-pk="{{pk}}" data-name="{{email}}"></button>
				{{else}}
					{{#if phoneNumber}}
						{{#if provider}}
							{{phoneNumber}}  ({{provider}}) <button type="button" class="glyphicon glyphicon-remove remove-contact-method" data-pk="{{pk}}" data-name="{{phoneNumber}} ({{provider}}"></button>
						{{/if}}
					{{/if}}
				{{/if}}
			</td>
		{{/each}}
	</tr>
	{{#each categories}}
		<tr>
			<td class="settings-category">{{name}}</td>
			{{#each ../contactMethods}}
				<td class="settings-category-cell"><input type="checkbox" class="settings-category-checkbox" data-contactmethodid="{{pk}}" data-categoryid="{{../pk}}"></td>
			{{/each}}
		</tr>
	{{/each}}
</table></br></br>

<h3>Add a Contact Method</h3></br>

<form action="" role="form" style="width: 400px; margin: 0 auto">
	<div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control new-contact-method-email"/>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control new-contact-method-phone-number"/>
    </div>
    <div class="form-group">
        <label for="provider">Provider</label>
        <select class="form-control new-contact-method-provider">
        	<option value="">Not Applicable</option>
        	{{#each providers}}
		    	<option value="{{pk}}">{{name}}</option>
		    {{/each}}
		</select>
    </div>
    <input class="btn btn-primary pull-right submit-new-contact-method" type="submit"/>
</form>
